
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(252, 250, 248)
}
.infoBox{
    background-color: yellow;
    font-size: small;
    border: 2px solid red;
    border-radius: 20px;
    padding: 1rem;
    margin: 2rem;
}

.container {
    text-align: center; 
}

h1 {
    font-size: 40px;
    text-align: center;

    background: linear-gradient(#007bff, #00c6ff);

    -webkit-background-clip: text;
    color: transparent; 

    

}

ul {
    display: inline-block;
    text-align: left;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 30px;
    gap: 10px; 
    text-align: center;
    transition: 0.3s ease-in-out;   
    color: #0c89b3;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.links a:hover{
    scale: 1.1;
    text-shadow:
    0 0 5px #0c89b3,
    0 0 10px #0c89b3,
    0 0 20px #0c89b3;
}

button{
    background-color: #007bff;
    border: 2px solid black;
    border-radius: 20%;
}