body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background: darkred;
        font-family: Georgia, serif; 
    }
    .ui {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        filter: drop-shadow(0 0 20px rgba(255,0,0,0,1.15));
    }

    .title-box {
        padding: 10px 30px;
        background: linear-gradient(to bottom, #4b0000, #2b0000);
        color: gold;
        text-shadow: 0 0 6px rgba(255,215,0,0.6);
        font-size: 20px;
        border: 3px solid #c9a24d;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase; 
        box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
    
    }

.box{
    width: 350px;
    height: 100px;
    background: linear-gradient(to bottom, #6b0d0d, #2b0000);
    border: 4px solid #6b0000;
    border-radius: 8px;
    
    box-shadow: 
    0 8px 20px rgba(0,0,0,0.6),
    inset 0 0 12px rgba(255, 0, 0, 0.15);

    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center; 
}

.slot {
    width: 60px;
    height: 60px;
    background: linear-gradient(to bottom, #4b0000, #2b0000);
    border: 2px solid #b23b3b; 
    border-radius: 6px; 

    display: flex; 
    align-items: center;
    justify-content: center;

    transition: 
    box-shadow 0.2s,
    transform 0.15s,
    border-color 0.15s;
}

.slot:hover {
    box-shadow:
     0 0 12px gold,
     inset 0 0 6px rgba(255,215,0,0.4);
     transform: translateY(-2px);
     border-color: gold; 
}

.slot:empty::after {
    content: "+";
    color: rgba(255,255,255,0.4); 
    font-size: 24px; 
    text-shadow: 0 0 4px rgba(255,255,255,0.2);
}

.item,
.item-potion
.item-sword {
    width: 48px;
    height: 48px;
    cursor: grab;
    image-rendering: pixelated;
    transition: transform 0.15s ease, filter 0.15s ease;
}

.item:hover {
    transform: scale(1.08);
    filter: drop-shadow(0 0 6px rgba(255,215,0,0.6));
}
.item:active {
    cursor: grabbing;
    transform: scale(1.1);
}

.desc-box {
    padding: 12px 20px;
    background: linear-gradient(to bottom, #4b0000, #2b0000);
    color: rgb(246, 214, 117);
    border: 3px solid #c9a24d;
    font-size: 16px; 
    min-width: 200px; 
    text-align: center; 

    box-shadow:
    inset 0 0 8px rgba(0,0,0,0.5),
    0 4px 10px rgba(0,0,0,.4);
}

.hidden {
    display: none; 
}


body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background: darkred;
    }
    .ui {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .title-box {
        padding: 10px 30px;
        background: linear-gradient(to bottom, #4b0000, #2b0000);
        color: darkred;
        font-size: 20px;
        border: 3px solid #cfcfcf;
        text-align: center;
    
    }

.box{
    width: 350px;
    height: 100px;
    background-color: linear-gradient(to bottom, #6b0d0d, #2b0000);

    border: 40px #4b0000;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);

    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center; 
}

.slot {
    width: 60px;
    height: 60px;
    background: linear-gradient(to bottom, #4b0000, #2b0000);
    border: 2px solid #b23b3b; 

    display: flex; 
    align-items: center;
    justify-content: center;

    transition: box-shadow 0.2s;
}

.slot:hover {
    box-shadow: 0 0 10px gold; 
}

.slot:empty::after {
    content: "+";
    color: rgba(255,255,255,0.4); 
    font-size: 24px; 
}

.item-potion{
    width: 48px;
    height: 48px;
    cursor: grab; 
    image-rendering: pixelated;
    transition: transform 0.15s ease; 
}
.item{
    width: 48px;
    height: 48px;
    cursor: grab; 
    image-rendering: pixelated;
    transition: transform 0.15s ease; 
}
.item.sword {
    width: 48px;
    height: 48px;
    cursor: grab;
    image-rendering: pixelated;
    transition: transform 0.15s ease;
}


.item:active {
    cursor: grabbing;
    transform: scale(1.1);  
}

.desc-box {
    padding: 12px 20px;
    background: linear-gradient(to bottom, #4b0000, #2b0000);
    color: rgb(246, 214, 117);
    border: 3px solid #cfcfcf;
    font-size: 16px; 
    min-width: 200px; 
    text-align: center; 
}

.hidden {
    display: none;
}



.desc-box:hover + .hidden {
    display: block;
    color: black;
}




